body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
html {
    scroll-behavior: smooth;
  }
/*NAVBAR*/
.bg-navbar{
    background-color: transparent;
}
p{
    color: white;
    text-align: left;
    font-weight: 700;
}
h2{
    color: white;
    font-weight: 700;
}
.card-text{
    color: white;
    font-weight: 700;
    text-align: left;
}
.card-title{
    color: white;
    font-weight: 700;
    text-align: center;
}

.bg{
    background-color: rgb(3, 187, 187);
}
.img{
    width: 100%;
    height: 200px;
}

/*FORMULARIO*/
.centrar{
    width: 100%;
    margin: auto;
}
.textos-for{
    text-align: left;
    font-weight: 700;
    color: white;
}
.botones{
    color: white;
}
footer{

    color: white;
    font-weight: 300;
    font-size: 100%;
}
.iconos{
align-items: end;
}
