body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
html {
    scroll-behavior: smooth;
  }
/*NAVBAR*/
.bg-navbar{
    background-color: transparent;
}
p{
    color: white;
    text-align: left;
}
h2{
    color: white;
}
.bg{
    background-color: aqua;
}